
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}



#layout {
  width: 100%;
  height: 100%;
}


/* Active Links */
ul li a.activeIcon {
  padding-right: 52px;
  border-radius: 9px 0px 0px 9px;
  background-color: rgb(230, 212, 212);
}

ul li a.activeIcon:hover {
  padding-right: 52px;
}
ul li a.activeIcon > span{
  color: #11101d;
}
ul li a.activeIcon > i{
  color: #001aff;
}